<?xml version="1.0" encoding="utf-8"?>
<module loadLocalBin="false" description="My Custom" tags="EPiServerModulePackage" clientResourceRelativePath="1.0.0" >
    <assemblies>
        <add assembly="My.Custom" />
    </assemblies>
    <clientResources>
    </clientResources>
    <dojo>
        <packages>
            <add name="my-custom" location="scripts"></add>
        </packages>
    </dojo>
</module>